[submodule "GameLibrary"]
	path = GameLibrary
	url = git@github.com:MKesenheimer/GameLibrary.git
[submodule "SDLTools"]
	path = SDLTools
	url = git@github.com:MKesenheimer/SDLTools.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/lumax"]
	path = libs/lumax
	url = https://github.com/MKesenheimer/lumax.git
	branch = ftdi-driver
